@charset "UTF-8";

a:link, a:visited { text-decoration: none; color: inherit; }

table { border-top: 2px solid #666; }
table th { background-color:  #eee !important; }
table th, table td  { border-right: 1px solid #ddd; }
table th:last-child, table td:last-child { border-right: none; }